.nav
{
    display: flex;
    justify-content:flex-end;
    justify-content:space-between;
    padding: 20px,50px;
    align-items:left;
}
.nav
{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: underline;
}
li
{
    list-style: none;
}
.title
{
    position: relative;
    left: -45px;
}
.title
{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-decoration: underline;
    text-decoration: aliceblue;
}
/* .nav
{
    color:aqua;
    background-color: cadetblue;
    height: 100vh;
} */
.box
{
    background-color: aquamarine;
    border: 2px solid black;
    height:200px;
    width:500px;
    position: relative;
    left: 800px;
}
.text
{
    font-family:Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    justify-content: center;
}
.random
{
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: black;
    letter-spacing: 2px;
    justify-content: center;
    position: relative;
    left: 600px;
    font-weight: bold;
}
.flex-container
{
    background-color: aquamarine;
    border: 2px solid black;
    height:150px;
    width:150px;
}
